name: OTP-loging react js

# Push - action will trigger if someone pushes to the main branch
# Pull request - action will trigger if someone opens a pull request from the main branch.
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: windows-latest

    steps:
      # actions/checkout basically performs a local git clone of the repository

      - name: Checkout repository
        uses:
          actions/checkout@v2

          # actions/setup-node@v1. This action takes care of installing Node.js inside the container running our job
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20"

      - name: Install Dependencies
        run: npm install

      - name: Build
        run: npm run build
